.cookie-settings {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    overflow: auto;
}
.cookie-settings::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    z-index: 10;
}
.cookie-settings__inner {
    background: #ffffff;
    color: #000000;
    max-width: 500px;
    margin: 50px auto;
    padding: 80px 60px 30px;
    transform: translateY(calc(-100% - 50px));
    transition: transform 500ms ease-out;
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    position: relative;
    z-index: 20;
}
.cookie-settings.loaded .cookie-settings__inner {
    transform: translateY(0px);
}
.cookie-settings__title {
    font-weight: bold;
    font-size: 24px;
}
.cookie-settings__description {
    padding: 16px 0 34px;
}
.cookie-settings__actions {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    margin: 15px 0 0 0;
}
.cookie-settings__actions-btns {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 0 0 15px 0;
}
.cookie-settings__actions-btns button {
    display: block;
    margin: 0 0 16px 0;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #777777;
    box-shadow: none;
}
.cookie-settings__actions-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
}

.cookie-settings__action-item {
    margin-right: 12px;
}
.cookie-settings__action-item__label {
    font-weight: bold;
    cursor: pointer;
}
.cookie-settings__submit,
.cookie-settings__decline {
    background: #777777;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 30px;
    max-height: 50px;
}
.cookie-settings__actions-btns .cookie-settings__decline {
    color: #777777;
    font-size: 12px;
    background: none;
}
.cookie-settings__action-details {
    margin: 0 auto 16px;
    font-weight: bold;
}
.cookie-settings .cookie-settings__action-details__close,
.cookie-settings.open .cookie-settings__action-details__open,
.cookie-settings__details-wrapper,
.point-contents .point-content {
    display: none;
}
.cookie-settings.open .cookie-settings__action-details__close,
.cookie-settings.open .cookie-settings__details-wrapper,
.point-contents .point-content.active {
    display: block;
}
.cookie-settings__details-wrapper {
    margin-top: 15px;
}
.cookie-settings__details-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.point-sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cookie-settings__details-sidebar {
    border: 1px solid #cccccc;
    flex-grow: 1;
    max-width: 220px;
}
.point-sidebar__item {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #cccccc;
}
.point-sidebar__item:hover {
    background: #eeeeee;
}
.point-sidebar__item.active,
.point-sidebar__item.active:hover {
    background: #cccccc;
}
.cookie-settings__details-content {
    flex-grow: 1;
    border: 1px solid #cccccc;
    border-left: none;
    padding: 20px 20px 40px;
}
.point-content__title {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 8px 0;
}
.cookie-settings__actions-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.cookie-settings-corner {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.cookie-settings-corner:after {
    content: "";
    display: block;
    width: 150%;
    height: 150%;
    background: #999;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -1;
    border-radius: 5px 0 0 0;
}
.cookie-settings-corner:hover:after {
    background: #777;
}
.cookie-settings-corner svg {
    width: 80%;
    height: 80%;
}
.cookie-settings__readmore-policy {
    font-size: 10px;
    text-align: center;
}
.cookie-settings__readmore-policy .readmore-policy-description {
    margin: 0 0 5px 0;
}
.cookie-settings__readmore-policy a {
    color: #919191;
    text-decoration: none;
}
@media (max-width: 767px) {
    .cookie-settings__actions-inner {
        flex-direction: column;
    }
}
@media (max-width: 520px) {
    .cookie-settings__inner {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 40px 30px 20px;
        width: auto;
    }

    .cookie-settings__actions {
        flex-direction: column;
        margin-top: auto;
    }
    .cookie-settings__actions-wrapper {
        margin-bottom: 20px;
    }
    .cookie-settings__details-inner {
        flex-direction: column;
    }
    .cookie-settings__details-sidebar {
        max-width: none;
        border-bottom: none;
    }
    .cookie-settings__details-content {
        border-top: none;
        border-left: 1px solid #cccccc;
    }
}
